@model Playlist.Models.Album

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Html.DisplayNameFor(model => model.Title)</h4>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Singer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Singer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
