@model Playlist.Models.Singer

@{
    ViewBag.Title = "Delete";
}

<p class="error">@ViewBag.ErrorMessage</p>
<h3>你確定要從歌手清單中刪除這位歌手嗎?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mb-3">
            <input type="submit" value="Delete" class="btn btn-outline-danger" />
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
